{% extends 'base.html' %} {% load static %} {% block title %}ByWay | Details{% endblock %} {% block content %}
<section class="sportlight-details">
  <div class="wrapper">
    <div class="nav-container">
      <ul>
        <li>
          <a href="/">Home</a>
          <span class="arrow">
            <img
              class="icon"
              src="{% static 'assets/icons/short-arrow-right-black.svg' %}"
              alt="arrow-right"
            />
          </span>
        </li>
        <li>
          <a href="">Top Courses</a>
          <span class="arrow">
            <img
              class="icon"
              src="{% static 'assets/icons/short-arrow-right-black.svg' %}"
              alt="arrow-right"
            />
          </span>
        </li>
        <li>
          <a href="#"> Course Details </a>
        </li>
      </ul>
    </div>
    <div class="contents">
      <h1>{{ course.title }}</h1>
      <p>{{ course.description }}</p>
      <div class="info-wrapper">
        <span class="rating">{{ course.rating }}</span>
        <span class="star star-rating-container"></span>
        <span class="rating-counts"> ({{ course.rating_count }}) </span>
        <span class="duration">{{ course.duration }}</span>
      </div>
      <div class="author-wrapper">
        <span class="author">
          <img
            src="{{ course.instructor.image.url }}"
            alt="author image"
            class="author-image"
          />
        </span>
        <span class="author-name">
          Created by <span>{{ course.instructor.name }}</span>
        </span>
      </div>
      <div class="language-wrapper">
        <span class="language-icon">
          <img src="{% static 'assets/icons/language.svg' %}" alt="language" />
        </span>
        <span class="languages"> {{ course.languages.all|join:", " }} </span>
      </div>
    </div>

    <div class="cart-box">
      <div class="top-section">
        <div class="image-wrapper">
          <img src="{{ course.image.url }}" alt="image" />
        </div>
        <div class="box">
          <div class="price-section">
            <span class="special-price">${{course.discounted_price}}</span>
            <span class="old-price">${{course.price}}</span>
            <span class="offer">{{course.discount_percent}}%</span>
          </div>
          <button class="cart">Add To Cart</button>
          <button class="buy">Buy Now</button>
        </div>
      </div>
      <div class="media-section">
        <p>Share</p>
        <ul class="media-icons">
          <li>
            <a
              href="https://www.facebook.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="{% static 'assets/icons/facebook.png' %}"
                alt="facebook"
              />
            </a>
          </li>
          <li>
            <a
              href="https://www.github.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img src="{% static 'assets/icons/github.png' %}" alt="twitter" />
            </a>
          </li>
          <li>
            <a
              href="https://www.google.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="{% static 'assets/icons/google.png' %}"
                alt="linkedin"
              />
            </a>
          </li>
          <li>
            <a
              href="https://www.twitter.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="{% static 'assets/icons/twitter.png' %}"
                alt="linkedin"
              />
            </a>
          </li>
          <li>
            <a
              href="https://www.microsoft.com"
              target="_blank"
              rel="noopener noreferrer"
            >
              <img
                src="{% static 'assets/icons/microsoft.png' %}"
                alt="linkedin"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- main details section -->

<section class="main-details">
  <div class="wrapper">
    <div class="button-container">
      <div class="boxes">
        <div class="box">
          <button data-target="#description-section">Description</button>
        </div>
        <div class="box">
          <button data-target="#instructor-section">Instructor</button>
        </div>
        <div class="box">
          <button data-target="#syllabus-section">Syllabus</button>
        </div>
        <div class="box">
          <button data-target="#reviews-section">Reviews</button>
        </div>
      </div>
    </div>

    <!-- Description section  -->
    <section id="description-section" class="Description">
      <div class="text-wrapper">
        <div class="top-section">
          <h2 class="title">Course Description</h2>
          <p class="paragraph">{{course.description}}</p>
        </div>
        <div class="bottom-section">
          <h2 class="title">Certification</h2>
          <p class="paragraph">{{course.certification}}</p>
        </div>
      </div>
    </section>

    <!-- Instructor section  -->

    <section id="instructor-section" class="instructor">
      <div class="instructor-wrapper">
        <h4 class="title">Instructor</h4>
        <h4 class="name">{{course.instructor.name}}</h4>
        <p class="designation">{{course.instructor.designation}}</p>
        <div class="profile-container">
          <span class="profile-pic">
            <img src="{{course.instructor.image.url}}" alt="" />
          </span>
          <div class="details-container">
            <ul class="points">
              <li class="poin">
                <span class="icon"
                  ><img src="{% static 'assets/icons/achive.svg' %}" alt=""
                /></span>

                {% load humanize %}
                <small class="text"
                  >{{ course.instructor.reviews|intcomma }} Reviews</small
                >
              </li>
              <li class="poin">
                <span class="icon"
                  ><img src="{% static 'assets/icons/cap.svg' %}" alt=""
                /></span>
                <small class="text"
                  >{{course.instructor.students}} Students</small
                >
              </li>
              <li class="poin">
                <span class="icon"
                  ><img src="{% static 'assets/icons/play.svg' %}" alt=""
                /></span>
                <small class="text"
                  >{{course.instructor.courses_count}} Courses</small
                >
              </li>
            </ul>
          </div>
        </div>
        <p class="about-instructor">{{course.instructor.bio}}</p>
      </div>
    </section>

    <!-- Syllabus section  -->
    <section id="syllabus-section" class="syllabus">
      <div class="syllabus-wrapper">
        <h4 class="title">Syllabus</h4>
        <div class="table">
          {% for syllabus in syllabi %}
          <div class="row">
            <div class="first-column">
              <span class="icon">
                <img
                  src="{% static 'assets/icons/arrow-down.svg' %}"
                  alt="arrow-down"
                />
              </span>
              <h5 class="sub-title">{{ syllabus.title }}</h5>
            </div>
            <div class="second-column">
              <p class="lessons">{{ syllabus.lessons }} Lessons</p>
              <p class="hour">{{ syllabus.duration }} Hours</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>

    <!-- Reviews section  -->
    <section id="reviews-section" class="reviews">
      <h4 class="title">Learner Reviews</h4>
      <div class="reviews-wrapper">
        <div class="left">
          <div class="top">
            <span class="star-icon">
              <img src="{% static 'assets/icons/star.svg' %}" alt="star-icon" />
            </span>
            <span class="reviews-rating">4.6</span>
            <small class="review-count">146,951 reviews</small>
          </div>
          <div id="star-pyramid-container"></div>
        </div>

        <div class="right">
          <div class="right-wrapper">
            <div class="user-profile">
              <span class="profile-pic">
                <img
                  src="{% static 'assets/icons/span-6.svg' %}"
                  alt="profile-pic"
                />
              </span>
              <h5 class="name">Mark Doe</h5>
            </div>
            <div class="contents">
              <div class="date">
                <span class="star-icon">
                  <img
                    src="{% static 'assets/icons/star.svg' %}"
                    alt="star-icon"
                  />
                </span>
                <span class="rating">5</span>
                <span class="review-date">Reviewed on 22nd March, 2024</span>
              </div>
              <p>
                I was initially apprehensive, having no prior design experience.
                But the instructor, John Doe, did an amazing job of breaking
                down complex concepts into easily digestible modules. The video
                lectures were engaging, and the real-world examples really
                helped solidify my understanding.
              </p>
            </div>
          </div>
          <div class="right-wrapper">
            <div class="user-profile">
              <span class="profile-pic">
                <img
                  src="{% static 'assets/icons/span-6.svg' %}"
                  alt="profile-pic"
                />
              </span>
              <h5 class="name">Mark Doe</h5>
            </div>
            <div class="contents">
              <div class="date">
                <span class="star-icon">
                  <img
                    src="{% static 'assets/icons/star.svg' %}"
                    alt="star-icon"
                  />
                </span>
                <span class="rating">5</span>
                <span class="review-date">Reviewed on 22nd March, 2024</span>
              </div>
              <p>
                I was initially apprehensive, having no prior design experience.
                But the instructor, John Doe, did an amazing job of breaking
                down complex concepts into easily digestible modules. The video
                lectures were engaging, and the real-world examples really
                helped solidify my understanding.
              </p>
            </div>
          </div>
          <div class="right-wrapper">
            <div class="user-profile">
              <span class="profile-pic">
                <img
                  src="{% static 'assets/icons/span-6.svg' %}"
                  alt="profile-pic"
                />
              </span>
              <h5 class="name">Mark Doe</h5>
            </div>
            <div class="contents">
              <div class="date">
                <span class="star-icon">
                  <img
                    src="{% static 'assets/icons/star.svg' %}"
                    alt="star-icon"
                  />
                </span>
                <span class="rating">5</span>
                <span class="review-date">Reviewed on 22nd March, 2024</span>
              </div>
              <p>
                I was initially apprehensive, having no prior design experience.
                But the instructor, John Doe, did an amazing job of breaking
                down complex concepts into easily digestible modules. The video
                lectures were engaging, and the real-world examples really
                helped solidify my understanding.
              </p>
            </div>
          </div>
          <button>View more Reviews</button>
        </div>
      </div>
    </section>
  </div>
</section>

<!-- testimonials  -->

<section class="testimonials">
  <div class="wrapper">
    <div class="top">
      <div class="heading-container">
        <h3>What Our Customer Say About Us</h3>
      </div>
      <div class="navigation">
        <span
          class="custom-swiper-button-prev"
          role="button"
          aria-label="Previous slide"
          tabindex="0"
        >
          <img
            src="{% static 'assets/icons/short-arrow-left.svg' %}"
            alt="left-arrow"
          />
        </span>
        <span
          class="custom-swiper-button-next"
          role="button"
          aria-label="Next slide"
          tabindex="0"
        >
          <img
            src="{% static 'assets/icons/short-arrow-right.svg' %}"
            alt="right-arrow"
          />
        </span>
      </div>
    </div>
    <div class="contents">
      <div class="swiper">
        <div class="items swiper-wrapper">
          {% for testimonial in testimonials %}
          <a href="#" class="item swiper-slide">
            <span class="quote">
              <img
                src="{% static 'assets/icons/quotes.svg' %}"
                alt="quote-icon"
              />
            </span>
            <p>"{{ testimonial.description }}"</p>
            <div class="author-info">
              <span class="author-profile">
                <img
                  src="{{ testimonial.image.url }}"
                  alt="{{ testimonial.name }}"
                />
              </span>
              <div class="text">
                <h5>{{ testimonial.name }}</h5>
                <small>{{testimonial.designation}}</small>
              </div>
            </div>
          </a>
          {% empty %}
          <p>No testimonials available.</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- testimonials  -->

<!-- footer -->

{% endblock %}
{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script type="module" src="{% static 'javascript/starRating.js' %}"></script>
<script src="{% static 'javascript/swiper.js' %}"></script>
<script src="{% static 'javascript/starPyramid.js' %}" defer></script>
<script src="{% static 'javascript/navButtons.js' %}"></script>
{% endblock %}
